flags: conf
build: [
  ["pkg-config" "--atleast-version=5.0" "capstone"]
]
depexts: [
  ["capstone"] {os-distribution = "homebrew" & os = "macos"}
  ["libcapstone-dev"] {os-family = "debian"}
  ["capstone-devel"] {os-family = "fedora"}
  ["capstone"] {os-family = "arch"}
  ["capstone-dev"] {os-family = "alpine"}
  ["capstone"] {os = "freebsd"}
]
